NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=https://mhnhpjqvznxfnhkzesfn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1obmhwanF2em54Zm5oa3plc2ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1Njk2ODEsImV4cCI6MjA5MTE0NTY4MX0.VBeSPOry_IXa04DnNGo8feTf1hv-pDFsSV3Sh_eN_Fg